<ion-header></ion-header>

<ion-content>
  <ion-list *ngIf="detailObservable | async; let element">
    <ion-item>
      <ion-label>
        <h3>ID: {{element.id}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Name: {{element.name}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Height: {{element.height}}0 cm</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Weight: {{element.weight * 0.1}} kg</h3>
      </ion-label>
    </ion-item>
    <ion-item href="https://pokemondb.net/pokedex/{{element.name}}">
      <ion-label>
        <h3>For more information, click here</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
  